<div id="sidebar-wrapper">
  <div class="brand-logo">
    <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon" />
    <h5 class="logo-text">Main42</h5>
  </div>
  <ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header">MANAGER NAVIGATION</li>
    <li>
      <a (click)="homeRoute()" class="waves-effect">
        <i class="zmdi zmdi-home"></i> <span>OPEN POSITIONS</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
    <li>
      <a (click)="managerClientsListRoute()" class="waves-effect">
        <i class="zmdi zmdi-accounts"></i>
        <span>CLIENTS</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
    <li>
      <a (click)="ListStocksByIndustryRoute()" class="waves-effect">
        <i class="zmdi zmdi-trending-up"></i>
        <span>STOCKS</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
    <li>
      <a (click)="managerWatchlistAddRoute()" class="waves-effect">
        <i class="zmdi zmdi-format-align-left"></i> <span>WATCHLISTS</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
    <li>
      <a (click)="closedPositionsRoute()" class="waves-effect">
        <i class="zmdi zmdi-unfold-more"></i> <span>CLOSED POSITIONS</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="waves-effect">
        <i class="zmdi zmdi-close"></i> <span>LOGOUT</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
  </ul>
</div>
