
<app-sidebar-admin></app-sidebar-admin>
<div class="content-wrapper">
  <div class="content-fluid">
    <div class="row pt-2 pb-2">
      <div class="col-sm-9">
      <h4 class="page-title">Chart JS</h4>
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
          <li class="breadcrumb-item"><a href="javaScript:void();">Charts</a></li>
          <li class="breadcrumb-item active" aria-current="page">Chart JS</li>
       </ol>
   </div>
   <div class="col-sm-3">
     <div class="btn-group float-sm-right">
      <button type="button" class="btn btn-light waves-effect waves-light"><i class="fa fa-cog mr-1"></i> Setting</button>
      <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown">
      <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a href="javaScript:void();" class="dropdown-item">Action</a>
        <a href="javaScript:void();" class="dropdown-item">Another action</a>
        <a href="javaScript:void();" class="dropdown-item">Something else here</a>
        <div class="dropdown-divider"></div>
        <a href="javaScript:void();" class="dropdown-item">Separated link</a>
      </div>
    </div>
   </div>
   </div>
   <div class="row">
      <div class="col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header text-uppercase">Line chart</div>
         <div class="card-body">
               <canvas id="lineChart"></canvas>
           </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
        <div class="card">
          <div class="card-header text-uppercase">Bar Chart</div>
          <div class="card-body">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </div>
   <div class="row">
   <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-header text-uppercase">Polar Chart</div>
          <div class="card-body">
            <canvas id="polarChart" height="240"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-header text-uppercase">Pie Chart</div>
          <div class="card-body">
            <canvas id="pieChart" height="240"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-header text-uppercase">Doughnut Chart</div>
          <div class="card-body">
            <canvas id="doughnutChart" height="240"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
