/* You can add global styles to this file, and also import other style files */
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-material.css';

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ag-theme-material {
  background-color: #00000021;
  color: white;
}

.ag-theme-material .ag-row-hover {
  background-color: #fafafa4f;
}

.ag-paging-panel {
  color: white;
}

.ag-header-viewport {
  background-color: transparent
}

.ag-theme-material .ag-header {
  background-color: #fafafa4f;
}

.ag-theme-material .ag-paging-panel {
  color: white;
}

.button.ag-paging-button {
  color: white;
}

.ag-theme-material .ag-header {
  color: white;
}

.ag-theme-material .ag-header:hover {
  color: rgba(0, 0, 0, 0.609);
}

.canvas {
  background-color: rgba(255, 255, 255, 0.4);
}

.ag-theme-material button[ref="btNext"] {
  background: url(./assets/images/arrow-right.png);
  background-position: center;
  background-repeat: no-repeat;
}

.ag-theme-material button[ref="btLast"] {
  background: url(./assets/images/arrow-right-end.png);
  background-position: center;
  background-repeat: no-repeat;
}

.ag-theme-material button[ref="btPrevious"] {
  background: url(./assets/images/arrow-left.png);
  background-position: center;
  background-repeat: no-repeat;
}

.ag-theme-material button[ref="btFirst"] {
  background: url(./assets/images/arrow-left-end.png);
  background-position: center;
  background-repeat: no-repeat;
}

.backgroundClient {
  background-image: url(./assets/images/bg-themes/3.png) !important;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width:576px) {
  .modal-dialog {
    max-width: 1000px !important;
    margin: 1.75rem auto;
  }
}

.modal-content {
  background-image: url(./assets/images/bg-themes/2.png) !important;
}
