<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <form id="personal-info" [formGroup]="managerRegister">
          <h4 class="form-header text-uppercase">
            <i class="fa fa-user-circle-o"></i> Add manager or admin
          </h4>
          <div class="form-group row">
            <label for="input-1" class="col-sm-2 col-form-label"
              >Firstname</label
            >
            <div class="col-sm-10">
              <input
                placeholder="Firstname"
                type="text"
                class="form-control"
                formControlName="firstname"
                id="input-1"
                [ngClass]="{
                  'is-invalid':
                    managerRegister.get('firstname').errors &&
                    ((managerRegister.get('firstname').touched ||
                      managerRegister.get('firstname').dirty) &&
                      !managerRegister.get('firstname').valid)
                }"
              />
              <span
                *ngIf="managerRegister.get('firstname').errors?.required"
                class="invalid-feedback"
              >
                Firstname is a required field
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="input-2" class="col-sm-2 col-form-label"
              >Lastname</label
            >
            <div class="col-sm-10">
              <input
                placeholder="Lastname"
                type="text"
                class="form-control"
                formControlName="lastname"
                id="input-2"
                [ngClass]="{
                  'is-invalid':
                    managerRegister.get('lastname').errors &&
                    ((managerRegister.get('lastname').touched ||
                      managerRegister.get('lastname').dirty) &&
                      !managerRegister.get('lastname').valid)
                }"
              />
              <span
                *ngIf="managerRegister.get('lastname').errors?.required"
                class="invalid-feedback"
              >
                Lastname is a required field
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="input-3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input
                placeholder="Email"
                type="email"
                class="form-control"
                formControlName="email"
                id="input-3"
                [ngClass]="{
                  'is-invalid':
                    managerRegister.get('email').errors &&
                    ((managerRegister.get('email').touched ||
                      managerRegister.get('email').dirty) &&
                      !managerRegister.get('email').valid)
                }"
              />
              <span
                *ngIf="managerRegister.get('email').errors?.required"
                class="invalid-feedback"
              >
                Email is a required field
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="input-4" class="col-sm-2 col-form-label"
              >Password</label
            >
            <div class="col-sm-10">
              <input
                placeholder="Password"
                type="password"
                class="form-control"
                formControlName="password"
                id="input-4"
                [ngClass]="{
                  'is-invalid':
                    managerRegister.get('password').errors &&
                    ((managerRegister.get('password').touched ||
                      managerRegister.get('password').dirty) &&
                      !managerRegister.get('password').valid)
                }"
              />
              <span
                *ngIf="managerRegister.get('password').errors?.required"
                class="invalid-feedback"
              >
                Password is a required field
              </span>
            </div>
          </div>
          <div class="form-group row">
            <label for="input-5" class="col-sm-2 col-form-label"
              >Confirm password</label
            >
            <div class="col-sm-10">
              <input
                placeholder="Confirm password"
                type="password"
                class="form-control"
                formControlName="confirmPassword"
                id="input-5"
                [ngClass]="{
                  'is-invalid':
                    managerRegister.get('confirmPassword').errors &&
                    ((managerRegister.get('confirmPassword').touched ||
                      managerRegister.get('confirmPassword').dirty) &&
                      !managerRegister.get('confirmPassword').valid)
                }"
              />
              <span
                *ngIf="managerRegister.get('confirmPassword').errors?.required"
                class="invalid-feedback"
              >
                ConfirmPassword is a required field
              </span>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-6" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 userRole">
              <div class="demo-heading">Select user role</div>
              <div class="icheck-material-primary icheck-inline">
                <input
                  type="radio"
                  id="manager"
                  name="role"
                  value="manager"
                  formControlName="role"
                  checked
                />
                <label for="manager">Manager</label>
              </div>
              <div class="icheck-material-info icheck-inline">
                <input
                  type="radio"
                  id="admin"
                  name="role"
                  value="admin"
                  formControlName="role"
                />
                <label for="admin">Admin</label>
              </div>
            </div>
          </div>

          <div class="form-group adduser">
            <button
              (click)="addManagerOrAdmin()"
              type="button"
              class="btn btn-success waves-effect waves-light m-1"
              [disabled]="managerRegister.invalid || managerRegister.pristine"
            >
              Add User
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
