<div class="content-wrapper">
  <div class="container-fluid">
    <div>
      <h3 class="mb-0">STOCKS</h3>
      <hr />
      <div *ngFor="let sector of sectorsData">
        <app-list-stocks [sectorId]="sector.id" [pagination]="pagination" [paginationPageSize]="paginationPageSize">
        </app-list-stocks>
        <button class="btn btn-primary waves-effect waves-light m-1" [routerLink]="['/manager/stocks/sector', sector.id]">
          View all </button>
      </div>
    </div>
  </div>
</div>
