<!--Start topbar header-->
<header class="topbar-nav">
  <div class="pointer">
    <nav class="navbar navbar-expand fixed-top ">
      <ul class="navbar-nav mr-auto align-items-center">
        <li class="nav-item app-search">
        </li>
        <li class="btn btn-warning" *ngIf="showProfileContainer">
          YOU ARE CURRENTLY OPERATING ON BEHALF OF
          {{ clientCurrentlyManaged.firstname }}
          {{ clientCurrentlyManaged.lastname }}
        </li>
      </ul>
      <div>
        <div
          class="btn btn-danger"
          *ngIf="showExitButton"
          (click)="exitClientMode()"
        >
          EXIT CLIENT MODE
        </div>
      </div>
      <ul class="navbar-nav align-items-center right-nav-link">
        <li class="nav-item dropdown-lg">
          <a
            class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect"
            data-toggle="dropdown"
            href="javascript:void();"
          >
            <i class="fa fa-bell-o"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link dropdown-toggle dropdown-toggle-nocaret"
            data-toggle="dropdown"
            href="#"
          >
            <span class="user-profile"
              ><img
                src="assets/images/avatars/avatar-13.png"
                class="img-circle"
                alt="user avatar"
            /></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item user-details">
              <a href="javaScript:void();">
                <div class="media">
                  <div class="avatar">
                    <img
                      class="align-self-start mr-3"
                      src="assets/images/avatars/avatar-13.png"
                      alt="user avatar"
                    />
                  </div>
                  <div class="media-body">
                    <h6 class="mt-2 user-title">{{ this.userEmail }}</h6>
                    <p class="user-subtitle">{{ this.userRole }}</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
              <a (click)="account()"
                ><i class="icon-wallet mr-2"></i> Account</a
              >
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
              <a (click)="settings()"
                ><i class="icon-settings mr-2"></i> Setting</a
              >
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item">
              <a (click)="logout()"><i class="icon-power mr-2"></i> Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
