.modal-dialog {
  background-color: black !important;
}

.centered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-padding {
  padding-top: 2px;
}

.font-size {
  font-size: 3em;
}

#sellprice,
#buyprice {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  max-width: 150px;
  margin: 5px;
}

#unitsLabel {
  left: 40px;
}

#typeSelection {
  left: 20px;
}
