<div class="modal-header bg-light col-12">
  <div class="col-4">
    <h4 class="modal-title">{{ companyName }}</h4>
  </div>
  <div class="row col-7">
    <div
      id="buyprice"
      class="card text-center  btn-success  inactive float-right col-4"
    >
      BUY PRICE
      <div class="text-center">
        <h6 class="">{{ buyPrice | currency }}</h6>
      </div>
    </div>
    <div
      id="sellprice"
      class="card text-center btn-danger  inactive float-right col-4"
    >
      <div class="">
        SELL PRICE
        <div class="text-center">
          <h6 class="">{{ sellPrice | currency }}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col-1">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <form class="" [formGroup]="openPosition">
    <div class="form-group row col-12 centered">
      <label id="unitsLabel" class="col-3 col-form-label">Units:</label>
      <input
        (keyup)="calculateTotal()"
        (click)="calculateTotal()"
        placeholder="Enter stocks qty"
        type="number"
        min="1"
        class="form-control col-4"
        formControlName="units"
      />
    </div>
    <div class="row col-12 centered">
      <label class="centered">{{ totalSum }}</label>
    </div>
    <div class="row col-12 centered">
      <label class="centered">Available funds: {{ availableFunds }}</label>
    </div>
    <div id="typeSelection" class="form-group row col-12 centered">
      <div class="icheck-material-success icheck-inline col-3 centered">
        <input
          type="radio"
          id="buyMarket"
          name="type"
          value="buy"
          (click)="calculateTotal()"
          formControlName="type"
        />
        <label for="buyMarket"><div class="font-size">Buy</div></label>
      </div>
      <div class="icheck-material-success icheck-inline col-3 centered">
        <input
          type="radio"
          id="sellMarket"
          name="type"
          value="sell"
          (click)="calculateTotal()"
          formControlName="type"
        />
        <label for="sellMarket"><div class="font-size">Sell</div></label>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="tradeMarket()">
    Open trade
  </button>
</div>
