<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center error-pages">
          <h1 class="error-title text-white"> 404</h1>
          <h2 class="error-sub-title text-white">Page not found</h2>
          <p class="error-message text-white text-uppercase">Sorry, an error has occured, requested page not found!</p>
          <div class="mt-4">
            <a (click)="loginRoute()" class="btn btn-light btn-round m-1">Go Back To Home </a>
          </div>
        </div>
      </div>
    </div>
  </div>
