<app-sidebar-admin></app-sidebar-admin>
<div class="content-wrapper">
  <div class="container-fluid">
      <h3 class="mb-0">CLIENTS</h3>
      <hr />
      <div *ngFor="let id of clientIds">
        <hr />
      </div>
    <div class="row pt-2 pb-2">
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-table"></i> Clients List
            <button (click)="editUser(id, editModal)" class="btn btn-success waves-effect waves-light m-1">
              Add Client
            </button>
            <div class="searchDiv">
              <input type="text" class="form-control" placeholder="Search By First Name" style="width:300px"
                [(ngModel)]="searchTerm" />
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="default-datatable" class="table table-striped">
                <tr>
                  <th *ngFor="let col of columns">{{ col }}</th>
                  <th>Edit Client</th>
                </tr>
                <tr *ngFor="let char of (clients | clientsFilter: searchTerm)">
                  <td>{{ char.firstname }}</td>
                  <td>{{ char.lastname }}</td>
                  <td>{{ char.age }}</td>
                  <td>{{ char.email }}</td>
                  <td>{{ char.dateregistered }}</td>
                  <td>
                    <ng-container *ngIf="char.funds; else elseTemplate">
                      {{ char.funds.currentamount | currency }}
                    </ng-container>
                    <ng-template #elseTemplate> $0.00 </ng-template>
                  </td>
                  <td>
                    <button (click)="editUser(char.id, editModal)" class="btn btn-warning waves-effect waves-light m-1">
                      Edit Client
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #editModal>
      <app-client-register [clientId]="clientId"></app-client-register>
    </ng-template>
  </div>
</div>
