<div class="content-wrapper">
  <div class="container-fluid">
    <h3 class="mb-0">OPEN POSITIONS</h3>
    <hr />
    <div *ngFor="let id of clientIds">
      <app-manager-open-positions [clientId]="id.id" [pagination]="pagination" [paginationPageSize]="paginationPageSize"></app-manager-open-positions>
      <hr />
    </div>
  </div>
</div>
