<router-outlet></router-outlet>

<app-navbar
  *ngIf="
    this.router.url !== '/not-found' &&
    this.router.url !== '/login' &&
    this.router.url !== '/server-error'
  "
></app-navbar>

<app-sidebar-manager
  *ngIf="
    this.router.url !== '/not-found' &&
    this.router.url !== '/login' &&
    this.router.url !== '/server-error' &&
    this.router.url !== '/admin/home' &&
    this.router.url !== '/admin/register/manager-admin' &&
    this.router.url !== '/admin/register/client' &&
    this.router.url !== '/admin/managers' &&
    this.router.url !== '/admin/clients'
  ">
</app-sidebar-manager>

<ngx-spinner
  type="pacman"
  size="large"
  color="#ffffff"
  bdColor="rgba(0,0,0,0.5)"
  *ngIf="
    this.router.url !== '/trade/:symbol'"
></ngx-spinner>



