<button
  (click)="closePosition(confimationModal)"
  type="button"
  class="btn btn-danger waves-effect waves-light m-1"
>
  Close
</button>
<ng-template #confimationModal>
  <app-confimation-modal
    [companyName]="companyName"
    [units]="units"
    [price]="price"
    [id]="id"
    [closePrice]="closePrice"
  ></app-confimation-modal>
</ng-template>
