<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center error-pages">
          <h1 class="error-title text-white"> 500</h1>
          <h2 class="error-sub-title text-white">Internal server error</h2>
          <p class="error-message text-white text-uppercase">Please try again later!</p>
          <div class="mt-4">
            <a href="index.html" class="btn btn-light btn-round m-1">Go Back To Home </a>
          </div>
        </div>
      </div>
    </div>
  </div>
