<div>
  <div class="row left-margin">
    <app-info-card [infoTextString]="clientName" [infoText]="clientEmail" [fieldType]="'text'"></app-info-card>
    <div class="col-3">
      <app-info-card [numbersText]="profitLossOpenedPositions" [infoText]="cardBoxInfoText" [fieldType]="'currency'"></app-info-card>
    </div>
    <div class="col-3 top-padding">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block waves-effect waves-light m-1"
        [id]="clientId"
        (click)="goToProfile(clientId)"
      >
        GO TO CLIENT'S PROFILE
      </button>
    </div>
  </div>
</div>
<ag-grid-angular class="ag-theme-material" [getRowStyle]="getRowStyle" [rowData]="rowData" [columnDefs]="columnDefs"
  [pagination]="pagination" [paginationPageSize]="paginationPageSize" [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
<br /><br /><br />
