<div class="card">
  <div class="card-body">
    <div class="media align-items-center">
      <div class="media-body text-left">
        <ng-container *ngIf="fieldType === 'currency'">
          <h4 class="mb-0" [ngClass]="calculateColor(numbersText, 'currency')">
            {{ numbersText | currency: 'USD':'symbol':'1.2-2' }}
          </h4>
        </ng-container>
        <ng-container *ngIf="fieldType === 'percent'">
          <h4 class="mb-0" [ngClass]="calculateColor(numbersText, 'percent')">
            {{ numbersText | percent: '1.2' }}
          </h4>
        </ng-container>

        <ng-container *ngIf="fieldType === 'text'">
          <h4 class="mb-0">
            {{ infoTextString }}
          </h4>
        </ng-container>

        <span>{{ infoText }}</span>
      </div>
      <div class="align-self-center w-icon">
        <i class="{{ iconStyle }} text-white"></i>
      </div>
    </div>
  </div>
</div>
