<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Close position</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    <strong>Are you sure you want to close the following position?</strong> <br />
      <span class="text-primary">Company:</span> {{ companyName }}, <br />
      <span class="text-primary">Units traded:</span> {{ units }}, <br />
      <span class="text-primary">Open price:</span> {{ price | currency}} <br />
      <span class="text-primary">Close price:</span> {{ closePrice | currency }}
      
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger waves-effect waves-light m-1" (click)="closeModal()">
    Cancel
  </button>
  <button type="button" class="btn btn-success" (click)="closeTrade(id, closePrice)">
    Close position
  </button>
</div>
