<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumb-->
    <div class="row pt-2 pb-2">
      <div class="col-sm-9">
        <h4 class="page-title">Company info</h4>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a>Info for {{ companyName }}</a>
          </li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumb-->
    <div class="card">
      <div class="card-body">
        <!-- Content Header (Page header) -->
        <div class="col-md-6">
          <h3>
            <small title="Company symbol">{{ symbol }} </small>
            <small> <i class="fa fa-ellipsis-v"></i> {{ companyName }}</small>
          </h3>
        </div>
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-line-chart"> </i> IPO Year: {{ ipoYear }}<br />
            <i class="fa fa-industry"> </i> Industry: {{ industry }}<br />
            <i class="fa fa-sitemap"> </i> Sector: {{ sector }}<br />
          </div>
          <div
            id="buyprice"
            class="card text-center col-md-2 btn-success  active float-right "
          >
            BUY PRICE
            <div class="text-center">
              <h4 class="">{{ buyPrice | currency }}</h4>
            </div>
          </div>
          <div
            id="sellprice"
            class="card text-center col-md-2 btn-danger  active float-right"
          >
            <div class="">
              SELL PRICE
              <div class="text-center">
                <h4 class="">{{ sellPrice | currency }}</h4>
              </div>
            </div>
          </div>
          <div id="trade-btn" class=" col-3 float-right">
            <button
              *ngIf="clientId !== null"
              type="button"
              class="btn btn-primary btn-lg waves-effect waves-light m-1 float-right"
              (click)="onTrade(tradeModal)"
            >
              TRADE
            </button>
          </div>
        </div>
      </div>
      <!-- Main content -->
      <div>
        <hr />

        <app-charts [title]="title" [symbol]="symbol"></app-charts>
      </div>
      <!-- /.content -->
    </div>
    <ng-template #tradeModal>
      <app-trade-modal
        [sellPrice]="sellPrice"
        [buyPrice]="buyPrice"
        [companyName]="companyName"
        [companyId]="companyId"
        [clientId]="clientId"
      ></app-trade-modal>
    </ng-template>
  </div>
</div>
