<div class="card">
  <div class="card-body">
    <form id="personal-info" [formGroup]="clientDataForm">
      <h4 class="form-header text-uppercase">
        <i class="fa fa-user-circle-o"></i> Add client section
      </h4>
      <div class="form-group row">
        <label for="input-1" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-9">
          <input placeholder="Firstname" type="text" class="form-control" formControlName="firstname" id="input-1" name="fname"
            [ngClass]="{
              'is-invalid':
                clientDataForm.get('firstname').errors &&
                ((clientDataForm.get('firstname').touched ||
                  clientDataForm.get('firstname').dirty) &&
                  !clientDataForm.get('firstname').valid)
            }" />
          <span *ngIf="clientDataForm.get('firstname').errors?.required" class="invalid-feedback">
            Firstname is a required field
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-2" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-9">
          <input placeholder="Lastname" type="text" class="form-control" formControlName="lastname" id="input-2" name="lname"
            [ngClass]="{
              'is-invalid':
                clientDataForm.get('lastname').errors &&
                ((clientDataForm.get('lastname').touched ||
                  clientDataForm.get('lastname').dirty) &&
                  !clientDataForm.get('lastname').valid)
            }" />
          <span *ngIf="clientDataForm.get('lastname').errors?.required" class="invalid-feedback">
            Lastname is a required field
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-3" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-9">
          <input placeholder="Email" type="email" class="form-control" formControlName="email" id="input-3" name="email"
            [ngClass]="{
              'is-invalid':
                clientDataForm.get('email').errors &&
                ((clientDataForm.get('email').touched ||
                  clientDataForm.get('email').dirty) &&
                  !clientDataForm.get('email').valid)
            }" />
          <span *ngIf="clientDataForm.get('email').errors?.required" class="invalid-feedback">
            Email is a required field
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-4" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-9">
          <input placeholder="Address" type="text" class="form-control" formControlName="address" id="input-4" name="address"
            [ngClass]="{
              'is-invalid':
                clientDataForm.get('address').errors &&
                ((clientDataForm.get('address').touched ||
                  clientDataForm.get('address').dirty) &&
                  !clientDataForm.get('address').valid)
            }" />
          <span *ngIf="clientDataForm.get('address').errors?.required" class="invalid-feedback">
            Address is a required field
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-5" class="col-sm-2 col-form-label">Age</label>
        <div class="col-sm-2">
          <input placeholder="Age" type="text" class="form-control" formControlName="age" id="input-5" name="age"
            [ngClass]="{
              'is-invalid':
                clientDataForm.get('age').errors &&
                ((clientDataForm.get('age').touched ||
                  clientDataForm.get('age').dirty) &&
                  !clientDataForm.get('age').valid)
            }" />
          <span *ngIf="clientDataForm.get('age').errors?.required" class="invalid-feedback">
            Age is a required field
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label for="input-6" class="col-sm-2 col-form-label">Funds</label>
        <div class="col-sm-3">
          <input placeholder="Funds" type="text" class="form-control" formControlName="funds" id="input-5" name="funds"
            [ngClass]="{
              'is-invalid':
                clientDataForm.get('funds').errors &&
                ((clientDataForm.get('funds').touched ||
                  clientDataForm.get('funds').dirty) &&
                  !clientDataForm.get('funds').valid)
            }" />
          <span *ngIf="clientDataForm.get('funds').errors?.required" class="invalid-feedback">
            Funds is a required field
          </span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Set manager</label>
        <div class="col-sm-7">
          <select formControlName="managerId" class="form-control">
            <option [style.visibility]="visibleEditClient">Please select a manager for this client</option>
            <option [style.visibility]="visibleAddClient">Keep current manager</option>

            <option *ngFor="let manager of managersList" [value]="manager.id">
              {{ manager.firstname }} {{ manager.lastname }} -
              {{ manager.email }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group adduser" [style.visibility]="visibleEditClient">
        <button (click)="addClient()" type="button" class="btn btn-success waves-effect waves-light m-1" [disabled]="clientDataForm.invalid || clientDataForm.pristine">
          Add User
        </button>
      </div>
      <div class="form-group adduser" [style.visibility]="visibleAddClient">
        <button (click)="editClientData(clientId)" type="button" class="btn btn-success waves-effect waves-light m-1"
          [disabled]="clientDataForm.invalid">
          Save data
        </button>
      </div>
    </form>
  </div>
</div>
