.row {
  max-width: 1000px;
}

.adduser {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.demo-heading {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-wrapper {
  width: 1000px;
  margin: 100px auto;
}
