<video autoplay loop>
  <source src="../../assets/video/video720.mp4" type="video/mp4" />
</video>
<div id="wrapper">
  <div class="card-authentication2 mx-auto my-5">
    <div class="card-group">
      <div class="card mb-0">
        <div class="bg-signin2"></div>
        <div class="card-img-overlay rounded-left my-5">
          <h1 class="text-white">Main42</h1>
          <h4 class="text-white">Management of Investments</h4>
          <h6 class="text-white">
            Your MAIN and only tool in your everyday work
          </h6>
          <br>
          <br>
          <br>
          <br>
          <p class="card-text text-white pt-3">
            Investment management system tool with charts, diagrams and
            functionalities helping you manage your clients' stocks portfolio.
          </p>
        </div>
      </div>
      <div class="card mb-0 ">
        <div class="card-body">
          <div class="card-content p-3">
            <div class="text-center">
              <img src="assets/images/logo-icon.png" alt="logo icon" />
            </div>
            <div class="card-title text-uppercase text-center py-3">
              Sign In
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <div class="position-relative has-icon-left">
                  <input type="text" id="exampleInputUsername" class="form-control" placeholder="Email" formControlName="email"
                    [ngClass]="{
                      'is-invalid':
                        loginForm.get('email').errors &&
                        ((loginForm.get('email').touched ||
                          loginForm.get('email').dirty) &&
                          !loginForm.get('email').valid)
                    }" />
                  <span *ngIf="loginForm.get('email').errors?.required" class="invalid-feedback">
                    Email is required field
                  </span>
                  <div class="form-control-position">
                    <i class="zmdi zmdi-email"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="position-relative has-icon-left">
                  <input type="password" id="exampleInputPassword" class="form-control" placeholder="Password"
                    formControlName="password" [ngClass]="{
                      'is-invalid':
                        loginForm.get('password').errors &&
                        ((loginForm.get('password').touched ||
                          loginForm.get('password').dirty) &&
                          !loginForm.get('password').valid)
                    }" />
                  <span *ngIf="loginForm.get('password').errors?.required" class="invalid-feedback">
                    Password must be at least 8 symbols long
                  </span>
                  <div class="form-control-position">
                    <i class="icon-lock"></i>
                  </div>
                </div>
              </div>
              <button [disabled]="this.loginForm.invalid" type="submit" class="btn btn-light btn-block waves-effect waves-light">
                Sign In
              </button>
              <div class="text-center pt-3">
                <p>Find us on:</p>
                <div class="form-row mt-4">
                  <div class="form-group mb-0 col-6">
                    <button onclick="window.open('https://www.facebook.com/main42', '_blank');" type="button" class="btn btn-light btn-block">
                      <i class="fa fa-facebook-square"></i> Facebook
                    </button>
                  </div>
                  <div class="form-group mb-0 col-6 text-right">
                    <button onclick="window.open('https://twitter.com/main42software', '_blank');" type="button" class="btn btn-light btn-block">
                      <i class="fa fa-twitter-square"></i> Twitter
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
