<div id="sidebar-wrapper">
  <div class="brand-logo">
    <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon" />
    <h5 class="logo-text">Main42</h5>
  </div>
  <ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header">ADMIN NAVIGATION</li>
    <!-- <li>
      <a (click)="adminRoute()" class="waves-effect">
        <i class="zmdi zmdi-home"></i> <span>HOME</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li> -->
    <li>
      <a (click)="adminClientsRoute()" class="waves-effect">
        <i class="zmdi zmdi-accounts"></i> <span>CLIENTS</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
    <li>
      <a (click)="adminManagersRoute()" class="waves-effect">
        <i class="zmdi zmdi-account"></i> <span>MANAGERS / ADMINS</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="waves-effect">
        <i class="zmdi zmdi-close"></i> <span>LOGOUT</span>
        <i class="fa fa-angle-left float-right"></i>
      </a>
    </li>
  </ul>
</div>
