<div class="content-wrapper">
  <div class="container-fluid">
    <div>
      <h3 class="mb-0">CLOSED POSITIONS</h3>
      <hr />
      <ag-grid-angular class="ag-theme-material" [getRowStyle]="getRowStyle" [rowData]="rowData" [columnDefs]="columnDefs"
        [pagination]="true" [paginationPageSize]="15" [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
