<app-sidebar-admin></app-sidebar-admin>
<div class="content-wrapper">
  <div class="container-fluid">
    <h3 class="mb-0">MANAGERS / ADMINS</h3>
    <hr />
  </div>
  <div class="row pt-2 pb-2">
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-table"></i> Managers and Admins List
          <button (click)="editUser(id, editModal)" class="btn btn-success waves-effect waves-light m-1">
            Add Manager / Admin
          </button>
          <div class="searchDiv">
            <input type="text" class="form-control" placeholder="Search By First Name" style="width:300px" [(ngModel)]="searchTerm" />
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table id="default-datatable" class="table table-striped">
              <tr>
                <th *ngFor="let col of columns">{{ col }}</th>
              </tr>
              <tr *ngFor="let manager of (managers | clientsFilter: searchTerm)">
                <td>{{ manager.firstname | titlecase }}</td>
                <td>{{ manager.lastname | titlecase }}</td>
                <td>{{ manager.email | lowercase }}</td>
                <td>{{ manager.dateregistered | titlecase }}</td>
                <td>{{ manager.role.rolename | titlecase }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #editModal>
    <app-manager-admin-register [userId]="userId"></app-manager-admin-register>
  </ng-template>
</div>
