<div class="content-wrapper">
  <div class="container-fluid">
      <div>
          <h3 class="mb-0">USER PROFILE</h3>
          <hr />
         
        </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card profile-card-2">
          <div class="card-img-block">
            <img
              class="img-fluid"
              src="assets/images/gallery/31.jpg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body pt-5">
            <img
              src="assets/images/avatars/avatar-15.png"
              alt="profile-image"
              class="profile"
            />
            <h5 class="card-title">{{ clientName }}</h5>
            <div class="card-text">
              <div class="badge badge-primary">Email:</div>
              {{ clientEmail }}
            </div>
            <div class="card-text">
              <div class="badge badge-primary">Age:</div>
              {{ clientAge }}
            </div>
            <div class="card-text">
              <div class="badge badge-primary">Address:</div>
              {{ clientAddress }}
            </div>
          </div>
          <button
            ngx-scroll-to
            [ngx-scroll-to-offset]="650"
            class="btn btn-primary waves-effect waves-light m-1"
          >
            SEE POSITIONS
          </button>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card padding-general-card">
          <h2 class="mb-0 header-fix">General info</h2>
          <app-info-card
            [infoText]="'Deposited funds'"
            [numbersText]="clientDepositedFunds"
            [iconStyle]="'icon-globe'"
            [fieldType]="'currency'"
          ></app-info-card>
          <app-info-card
            [infoText]="'Current overall balance'"
            [numbersText]="currentOverallBalance"
            [iconStyle]="'icon-wallet'"
            [fieldType]="'currency'"
          ></app-info-card>

          <div class="row">
            <div class="col-lg-6 ">
              <app-info-card
                [infoText]="'Total Profit/Loss(%)'"
                [numbersText]="profitLossPercentage"
                [iconStyle]="'icon-pie-chart'"
                [fieldType]="'percent'"
              ></app-info-card>
            </div>

            <div class="col-lg-6 ">
              <app-info-card
                [infoText]="'Total Profit/Loss($)'"
                [numbersText]="profitLossMoney"
                [iconStyle]="'icon-pie-chart'"
                [fieldType]="'currency'"
              ></app-info-card>
            </div>
          </div>
        </div>

        <div class="card padding-general-card">
          <h2 class="mb-0 header-fix">Current state</h2>
          <div class="row">
            <div class="col-lg-6 ">
              <app-info-card
                [infoText]="'Money currently invested'"
                [numbersText]="currentlyInvestedMoney"
                [iconStyle]="'icon-pie-chart'"
                [fieldType]="'currency'"
              ></app-info-card>
            </div>

            <div class="col-lg-6 ">
              <app-info-card
                [infoText]="'Money available for investment'"
                [numbersText]="moneyAvailableForInvestment"
                [iconStyle]="'icon-pie-chart'"
                [fieldType]="'currency'"
              ></app-info-card>
            </div>
          </div>
        </div>
      </div>
      <h2 class="mb-0 header-fix">Currently opened positions</h2>
      <app-client-open-positions
        [clientId]="clientId"
      ></app-client-open-positions>
    </div>
  </div>
</div>
