<div class="col-lg-12">
  <h4 class="page-title">Sector: {{ sectorTitle }}</h4>
</div>
<ag-grid-angular class="ag-theme-material" [getRowStyle]="getRowStyle" [rowData]="rowData" [columnDefs]="columnDefs"
  [pagination]="pagination" [paginationPageSize]="paginationPageSize" [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>
