.test-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-header {
  padding: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}

.ag-theme-balham-dark .ag-floating-top {
  background-color: black;
}

.ag-theme-balham-dark .ag-floating-top .ag-row {
  background-color: black;
}

.ag-theme-balham-dark .ag-floating-bottom {
  background-color: black;
}

.ag-theme-balham-dark .ag-floating-bottom .ag-row {
  background-color: black;
}
