<div class="content-wrapper">
  <div class="container-fluid">
      <h3 class="mb-0">WATCHLIST</h3>
      <hr />
      <div *ngFor="let id of clientIds">
        <hr />
      </div>
    <div class="row">
      <div class="col-lg-10">
        <div class="card">
          <div class="card-body">
            <form id="personal-info" [formGroup]="watchlistForm">
              <h4 class="form-header text-uppercase">
                <i class="fa fa-user-circle-o"></i> Add watchlist section
              </h4>
              <div class="form-group row">
                <label for="input-1" class="col-sm-3 col-form-label "
                  >Watchlist Name</label
                >
                <div class="col-sm-6">
                  <input
                    placeholder="Enter watchlist name"
                    type="text"
                    class="form-control"
                    formControlName="name"
                    id="input-1"
                    name="name"
                    [ngClass]="{
                      'is-invalid':
                        watchlistForm.get('name').errors &&
                        ((watchlistForm.get('name').touched ||
                          watchlistForm.get('name').dirty) &&
                          !watchlistForm.get('name').valid)
                    }"
                  />
                  <span
                    *ngIf="watchlistForm.get('name').errors?.required"
                    class="invalid-feedback"
                  >
                    Watchlist name is a required field
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Watchlist owner</label>
                <div class="col-sm-6">
                  <select class="form-control" formControlName="ownerId">
                    <option [value]="managerId"
                      >Add this watchlist to my personal watchlists</option
                    >

                    <option
                      *ngFor="let client of clientsList"
                      [value]="client.id"
                    >
                      {{ client.firstname }} {{ client.lastname }} -
                      {{ client.email }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group addWatchlistBtn">
                <button
                  (click)="addWatchlist(watchListForm)"
                  type="button"
                  class="btn btn-success waves-effect waves-light m-1"
                  [disabled]="watchlistForm.invalid || watchlistForm.pristine"
                >
                  Add watchlist
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
